


<div class="container">
    <hr>
    <h1 class="h3 mb-3 font-weight-normal">Search for User Information</h1>

    

    <form >
        <div class="form-group" >
          <label for="exampleInputEmail1">Username:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username: Example: Joe Blogs">
          <small id="emailHelp" class="form-text text-muted">For Informational Purposes Only.</small>
          
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      <hr>

    <p class="mt-5 mb-3 text-muted"> BelfastBlog | © 2021 </p>

</div>