<div class="container">
    <br>
    <a class="btn btn-primary" type="button" href="/home" >Go Back</a>
    <br> 
    <br>
  
  
    <div class="card" style="width: 100vh;">
            <div class="card-body" >

              <h1 class="title text-uppercase"> Use the form below to Update your Comment. </h1>
  
                      <form [formGroup]=comment_update_submission_form (ngSubmit)="onUpdate()">
                        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Comment Author: </label>
                            <input type="text" class="form-control" formControlName="Comment_Author">
                        </div>
                
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Comment Body: </label>
                            <input type="email" class="form-control" formControlName="Comment_Body" >
                        </div>
                
                        <br>
                
                    <div id="btns">
                      <button class="btn btn-primary" type="submit" (click)="onUpdate()"> Update Comment </button>
                      <button class="btn btn-danger" onclick="reset()"> Reset Form </button>
                    </div>
                    <p class="mt-5 mb-3 text-muted"> BelfastBlog | © 2021 </p>
  
                  <hr>
  
                      </form>
     
  
          </div>
    </div>
      
  
  </div>
        
    
    
    <style>
      #form-div {
        width: 60vh;
      }
    
      #btns button {
        margin-right: 10px;
      }
    </style>